*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.full{
    width: 1200px;
    height: 100vh;
}
.load{
    top: 47%;
    left: 43%;
    position: absolute;
}